@font-face {
    font-family: Tondo;
    src: url(../fonts/tondo/tondo-light-webfont.eot);
    src: url(../fonts/tondo/tondo-light-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/tondo/tondo-light-webfont.woff2) format("woff2"), url(../fonts/tondo/tondo-light-webfont.woff) format("woff"), url(../fonts/tondo/tondo-light-webfont.ttf) format("truetype"), url(../fonts/tondo/tondo-light-webfont.svg#tondolight) format("svg");
    font-weight: 100;
    font-style: normal
}

.loading {
    padding: 0;
    z-index: 100000;
    position: fixed;
    left: 0;
    top: 0;
    background: hsla(0, 0%, 100%, .97);
    height: 100%;
    width: 100%
}

.loading.overlay .message,
.loading.overlay:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1
}

.loading.overlay .message {
    height: 0;
    padding-top: 90px;
    text-align: center;
    font-size: 16px
}

.hideLoader {
    display: none
}

.showLoader {
    display: block
}

.loading:before {
    height: 190px;
    width: 1152px;
    background: url(../images/) 10px no-repeat;
    content: '';
    display: block;
    margin: 0 auto
}

.overlay>section {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 0;
    margin: auto
}

.overlay>section>article {
    margin-top: -190px
}

.loadin-small {
    position: relative
}

.loading.loadin-small:before {
    height: 80px
}

.container,
.loading-inner .container {
    position: relative;
    width: auto;
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px
}

h2.loader-heading,
p.loader-heading {
    margin: 20px 0 0 -6px;
    font-size: 80px;
    font-weight: 100;
    font-family: Tondo;
    color: #000;
    text-transform: none!important;
    line-height: 90px
}

.color-red {
    color: #e40000!important
}

.hide {
    display: none!important
}

.show {
    display: block!important
}

.grid-loader .loading:before {
    height: 90px;
    background-size: 60px;
    width: 100px
}

.grid-loader .loading.pull-left {
    width: 100px;
    position: relative;
    z-index: 1
}

@media (max-width:767px) {
    h2.loader-heading,
    p.loader-heading {
        font-size: 48px;
        line-height: 50px
    }
}